body {
    width: 1896px;
    height: 1073px;
    text-align: center;
    font-family: Georgia;
    line-height: 35px;
    letter-spacing: 0.1em;
}

h1 {
    color: #434343;
    font-weight: 100;
    margin-bottom: -5px;
}

p {
    color: #969593;
    margin: 0px 333px 0px 333px
}

img {
    margin: 5px;
}

.socials {
    border-bottom: 1px solid #DDDDDD;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
}

.socials > img {
    margin-bottom: -0.65em;
}

.photo-container {
    display: flex;
    margin: 0px 215px 0px 215px;
}

.col1 {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.col2 {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.col3 {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.col4 {
    flex: 1;
    display: flex;
    flex-direction: column;
}