body {
    width: 1907px;
    height: 937px;
    font-family: sans-serif;
}

.container {
    display: flex;
}

.left {
    width: 1115px;
    height: 850px;
    background-color: #e86b01;
    font-size: 3.2em;
    color: #ffffff;
    justify-content: center;
} 

h1 {
    margin: 200px 50px 200px 50px;
}

h2 {
    font-size: 3em;
    color: #e86b01;
    margin-left: 50px;
    font-weight: 400;
    margin: 60px 0px 60px 0px;
}

p {
    color: #e86b01;
}

.navbar {
    height: 85px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-bottom: 1px solid #e86b01;
}

.navbar > div {
    height: 2px;
    width: 45px;
    background-color: #e86b01;
    margin: 5px 30px 5px 30px;
}

.right {
    width: 790px;
    height: 850px;
    display: flex;
    flex-direction: column;
}

.right > div {
    border-bottom: 1px solid #e86b01;
}

.right > div > p {
    font-size: 1.15em;
    margin: 30px 50px 20px 50px;
}

.right > div > * {
    margin-left: 50px;
}

.right > div > div {
    display: flex;
}

#value {
    font-size: 7em;
    font-weight: 600;
}

.amount {
    flex: 3;
}

.item {
    font-size: 2em;
    text-align: end;
    margin-right: 30px;
    flex: 1;
}
 
#measurement {
    font-size: 2.5em;
}
