.App {
  text-align: center;
  background-color: #faf8ef;
}

.container {
  margin: auto;
  width: fit-content;
  padding: 0px 30px 30px 30px;
  border-radius: 5%;
}

.cell {
  display: flex;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  margin: auto;
  font-size: 4em;
  font-weight: 800;
}

#two {
  background-color: #eee4da;
}

h1 {
  color: #bbada0;
  font-size: 4em;
}

table {
  border: 8px solid #bbada0;
  width: 40vw;
  height: 40vw;
  margin: auto;
  background-color: #cdc1b4;
  border-radius: 5%;
  border-spacing: 0;
}

th, td {
  border: 8px solid #bbada0;
  width: 100px;
  height: 100px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
