.App {
	text-align: center;
	background-color: #faf8ef;
}

.container {
	margin: auto;
	width: fit-content;
	padding: 0px 30px 30px 30px;
}

.cell {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	border-radius: 15%;
	margin: auto;
	font-size: 6em;
	font-weight: 800;
	color: #f9f6f2;
	box-sizing: border-box;
}

#two {
	background-color: #eee4da;
	color: #776e65;
}

#four {
	background-color: #ede0c8;
	color: #776e65;
}

#eight {
	background-color: #f2b179;
}

#sixteen {
	background-color: #f59f63;
}

#thirtysix {
	background-color: #f57c60;
}

#sixtyfour {
	background-color: #f65e3b;
}

#hundred28 {
	background-color: #edcf73;
}

#twohundred56 {
	background-color: #edcc62;
}

#fivehundred12 {
	background-color: #edc850;
}

#onethousand24 {
	background-color: #edc53f;
}

#twothousand48 {
	background-color: #edc22d;
}

h1 {
	color: #85807a;
	font-size: 5em;
	font-weight: 800;
}

table {
	border: 8px solid #bbada0;
	width: 40vw;
	height: 40vw;
	margin: auto;
	background-color: #cdc1b4;
	border-radius: 3%;
	border-spacing: 0;
	table-layout: fixed;
}

th,
td {
	border: 8px solid #bbada0;
	width: 25%;
	height: 25%;
	text-align: center;
}
